@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: 'Quicksand', 'sans-serif';
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.25em;
}

body::-webkit-scrollbar-track {
    background: #003329;   
}

body::-webkit-scrollbar-thumb {
    background: #359381;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.75em;
    margin-right: 90px;
    color:#359381;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    postion: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-itmes: center;
}

#text {
    postion: absolute;
    font-size: 3em;
    color: #fff;
    text-shadow: 2px, 2px, 4px, rgba(0, 0, 0, 0.2);
}

.parallax img {
    postition: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    postion: relative;
    background: #003329;
    padding: 3em 6em 1em 6em;
}

.sec h2 {
    font-size: 1.75em;
    color: #fff;
    padding-top: 2em;
}

.sec p {
    margin-top: 3em;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.5rem;
    column-gap: 2.85rem;
}

.card_img {
    height: 230px;
    width: 300px;
    border-radius: 1.5rem;
}

.card_article {
    display: relative;
    overflow: hidden;
}

.card_data {
    width: 280px;
    background-color: #0d3d34;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: relative;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card_description {
    display: block;
    margin-bottom: 0.2rem;
    color: #f9f9f9;
    pointer-events: none;
}

.card_title {
    font-size: 1.2em;
    color: #fff;
    font-weight: 800;
    margin-bottom: 0.75rem;
    pointer-events: none;
}

.card_button {
    text-decoration: none;
    font-size: 0.813rem;
    color:#9ad7cc;
}

.card_button:hover {
    text-decoration: underline;
}

/* ANIMATIONS */

.card_article:hover .card_data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
}

.contact_container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 0fr);
    row-gap: 0;
    column-gap: 0;
    color:#f9f9f9;
}

.intro, .socials, .newsletter {
    padding-right: 6rem;
    padding-left: 4rem;
}

footer {
    background-color: #003329;
    padding: 6em;
    color: #fff;
}
